:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    padding: 4rem;
    width: 35vw;
    height: 35vw;
    margin: auto;
}

.grid-item{
    border: 1px solid;
    display: grid;
}

.grid-item::before {
    content: "";
    padding-bottom: 100%;
    display: block;
    grid-area: 1/1/2/2;
}