:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    font-family: 'Lato', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    padding: 1.5rem;
    width: 35vw;
    height: 35vw;
    margin: auto;
    border: 5px double #343A40;
    border-radius: 5px;
}

.grid-item {
    border: 1px solid;
    display: grid;
}

.grid-item::before {
    content: "";
    padding-bottom: 100%;
    display: block;
    grid-area: 1/1/2/2;
}

/*
Help card with overlay effect
Activated when clicked on help button
*/
#help-card {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.92);
    z-index: 2;
    cursor: pointer;
}

#help-card-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

#help-card-text p {
    padding: 1rem 0;
}

/*Add dark mode*/

button {
    font-size: 1rem;
    font-weight: 600;
    background: #F6C6EA;
    padding: 0.5rem;
    border-radius: 5px;
    border: 5px double #FF94CC; 
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}

button:hover {
    background: #FFF1F1;
}

#new-grid {
    display: block;
    max-width: 100%;
    margin: 1.5rem auto;
}

span.material-icons {
    position: absolute;
    top: 0.5rem;
    padding: 1rem;
    font-size: 2.5rem;
    color: #FF94CC;
    cursor: pointer;
}

#colors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

#colors button {
    margin: 0 2rem;
}

#colors input {
    margin: 0 1rem;
    cursor: pointer;
}

#color-picker-span {
    font-weight: 600;
}