:root {
    --grid-rows: 1;
    --grid-cols: 1;
    --primary-color: black;
}

*, span {
    font-family: 'Lato', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    padding: 1.5rem;
    width: 35vw;
    height: 35vw;
    margin: auto;
    border: 5px double #343A40;
    border-radius: 5px;
}

.grid-item {
    border: 1px solid;
    display: grid;
}

.grid-item::before {
    content: "";
    padding-bottom: 100%;
    display: block;
    grid-area: 1/1/2/2;
}

/*Add dark mode and help text later*/

button {
    font-size: 1rem;
    font-weight: 600;
    background: #F6C6EA;
    padding: 0.5rem;
    border-radius: 5px;
    border: 5px double #FF94CC; 
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}

button:hover {
    background: #FFF1F1;
}

#new-grid {
    display: block;
    max-width: 100%;
    margin: 1.5rem auto;
}

#colors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

#colors button {
    margin: 0 2rem;
}

#colors input {
    margin: 0 1rem;
    cursor: pointer;
}

span {
    font-weight: 600;
}